$color-primary: #ff9000;
$color-second: #666;
$color-gray-base: #f2f2f2;
$color-gray-light: #d7d7d7;
$color-gray-deep: #bcbcbc;
$color-black: #333;
$color-white: #fff;
$color-url: #175ccc;
$font-size-xs: 13px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-xl: 26px;
$contain-width: 1000px;


$font-base: 'SF Pro TC', 'SF Pro Text','SF Pro Icons', 'PingFang TC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
