.main-contain {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.container-left {
  width: 75%;
  padding-right: 15px;
}

.container-right {
  width: 25%;
  height: 100px;
  padding-left: 20px;
}

.main-margin {
  margin-top: 48px;
}